.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  border-bottom: 1px solid #AAA;
  padding: 0.25em 0;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

